[Desktop Entry]
Name=Dotfiles in Code
Comment=Launch VS Code in the ~/.config/ directory
Exec=code ~/.config/
Icon=code
Terminal=false
Type=Application
Categories=Utility;Development;
